.Main {
    background: rgb(248, 246, 246);

}

.Headline {
    text-align: left;
    margin-top: 40px;
}

img {
    max-height: 200px;
    max-width: 200px;
    align-content: center;
    border: 20px;
    border-color: coral;
}
.Picture {
    text-align: center;

}

h1 {
    text-align: center;
}
  

.page2 {
    background-color: rgb(248, 246, 246);

}
.part1 {
    font-size: 13px;
    color: rgb(96, 168, 93);
    text-align: center;

}

.quote {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: rgb(176, 112, 182);


}

.part2 {
    font-size: 13px;
    color: rgb(96, 168, 93);
    text-align: center;


}
