.Main {
    background: rgb(248, 246, 246);

}

.Headline {
    text-align: left;
    margin-top: 40px;
}

h1 {
    text-align: left;
    color: rgb(96, 168, 93);
}
  
h2 {
    text-align: left;
    color: rgb(115, 79, 148);
}

.page2 {
    background-color: rgb(248, 246, 246);

}
.part1 {
    font-size: 13px;
    color: rgb(96, 168, 93);
    text-align: left;

}

.quote {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color:rgb(170, 98, 199);

}

.part2 {
    font-size: 13px;
    color: rgb(96, 168, 93);
    text-align: left;


}
